.bubble {
  min-height: 80px;
  padding: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
}

.btn {
  padding: 10px;
  color: white;
  text-align: center;
  border-radius: 6px;
  display: block;
}
